* text=auto eol=lf
*.sh text eol=lf
CHANGELOG.md merge=union

# Mark lockfiles as generated to collapse diffs in GitHub Web UI
*.lock linguist-generated=true
package-lock.json linguist-generated=true


